@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: black rgba(0, 0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
}

body {
	background-color: black;
	font-weight: lighter;
	padding: 0;
	height: 100%;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#navLinks{
	padding: 0 2%;
}

#mainNavbar .nav-item {
	padding: 0 3%;
}
#mainNavbar .nav-link {
    color: rgb(255, 255, 255);
}

#mainNavbar .nav-link:hover {
    color: rgba(106, 127, 243, 0.719);
}

#mainNavbar .navbar-brand {
    color: rgba(106, 127, 243, 0.719);
    font-size: 1.5rem;
}
.navbar.scrolled {
    background: rgba(47, 47, 47, 0.623);
    transition: background 500ms;
}
.choose {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: 0;
}
.choose .section {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose .section:hover {
	color: rgb(130, 128, 248);
	cursor: pointer;
}
.choose #fav_button:hover {
	background-image: url(../Res/img/gamescreen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.choose #old_button:hover {
	background-image: url(../Res/img/sortscreen.jpg);
	background-repeat: no-repeat;
	height: 100%;
}
.choose #curr_button:hover {
	background-image: url(../Res/img/webscreen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.section {
	margin: 5% 10%;
	display: flex;
	flex-direction: column;
}
